@tailwind base;
@tailwind components;
@tailwind utilities;



body {
 
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

bg-hero {
  background-size: 150px;
  width: 300px;
  height: 300px;
  border: 2px solid;
  color: pink;
}

/* .skill-icons {
  margin: 2em auto;
  display: grid;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  size-adjust: 50%;
  grid-template-columns: .1fr .1fr .1fr .1fr .1fr .1fr;
  grid-gap: 100px;
} */

.skill-icons>img {
  display: block;
  box-sizing: border-box;
  padding: 0 1em;
  height: 20 px;
  margin: 0 1% 1em 1%;
  object-fit: cover;
  width: 1.5in;
  height: 1.5in;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

.wf-icon { filter: grayscale(1) contrast(.7); transition: transform .2s;}
.wf-icon:hover { filter: grayscale(0); transform: scale(1.8) ;}
.ball-icon { filter: grayscale(1) contrast(.7); transition: transform .2s; }
.ball-icon:hover { filter: grayscale(0); transform: scale(1.8) ;}
.fresca-icon { filter: grayscale(1) contrast(.7); transition: transform .2s; }
.fresca-icon:hover { filter: grayscale(0); transform: scale(1.8) ;}
.coors-icon { filter: grayscale(1) contrast(.7); transition: transform .2s; }
.coors-icon:hover { filter: grayscale(0); transform: scale(1.8) ;}
.cardinal-icon { filter: grayscale(1) contrast(.7); transition: transform .2s; }
.cardinal-icon:hover { filter: grayscale(0); transform: scale(1.8) ;}
.acme-icon { filter: grayscale(1) contrast(.7); transition: transform .2s; }
.acme-icon:hover { filter: grayscale(0); transform: scale(1.8) ;}
.aspen-icon { filter: grayscale(1) contrast(.7); transition: transform .2s; }
.aspen-icon:hover { filter: grayscale(0); transform: scale(1.8) ;}
.bigo-icon { filter: grayscale(1) contrast(.7); transition: transform .2s; }
.bigo-icon:hover { filter: grayscale(0); transform: scale(1.8) ;}
.bmc-icon { filter: grayscale(1) contrast(.7); transition: transform .2s; }
.bmc-icon:hover { filter: grayscale(0); transform: scale(1.8) ;}
.brownss-icon { filter: grayscale(1) contrast(.7); transition: transform .2s; }
.brownss-icon:hover { filter: grayscale(0); transform: scale(1.8) ;}
.cintas-icon { filter: grayscale(1) contrast(.7); transition: transform .2s; }
.cintas-icon:hover { filter: grayscale(0); transform: scale(1.8) ;}
.dmco-icon { filter: grayscale(1) contrast(.7); transition: transform .2s; }
.dmco-icon:hover { filter: grayscale(0); transform: scale(1.8) ;}
.empire-icon { filter: grayscale(1) contrast(.7); transition: transform .2s; }
.empire-icon:hover { filter: grayscale(0); transform: scale(1.8) ;}
.forterra-icon { filter: grayscale(1) contrast(.7); transition: transform .2s; }
.forterra-icon:hover { filter: grayscale(0); transform: scale(1.8) ;}
.jepp-icon { filter: grayscale(1) contrast(.7); transition: transform .2s; }
.jepp-icon:hover { filter: grayscale(0); transform: scale(1.8) ;}
.liva-icon { filter: grayscale(1) contrast(.7); transition: transform .2s; }
.liva-icon:hover { filter: grayscale(0); transform: scale(1.8) ;}
.metal-icon { filter: grayscale(1) contrast(.7); transition: transform .2s; }
.metal-icon:hover { filter: grayscale(0); transform: scale(1.8) ;}
.napa-icon { filter: grayscale(1) contrast(.7); transition: transform .2s; }
.napa-icon:hover { filter: grayscale(0); transform: scale(1.8) ;}
.sorin-icon { filter: grayscale(1) contrast(.7); transition: transform .2s; }
.sorin-icon:hover { filter: grayscale(0); transform: scale(1.8) ;}
.sund-icon { filter: grayscale(1) contrast(.7); transition: transform .2s; }
.sund-icon:hover { filter: grayscale(0); transform: scale(1.8) ;}
.tms-icon { filter: grayscale(1) contrast(.7); transition: transform .2s; }
.tms-icon:hover { filter: grayscale(0); transform: scale(1.8) ;}
.trelle-icon { filter: grayscale(1) contrast(.7); transition: transform .2s; }
.trelle-icon:hover { filter: grayscale(0); transform: scale(1.8) ;}
.uec-icon { filter: grayscale(1) contrast(.7); transition: transform .2s; }
.uec-icon:hover { filter: grayscale(0); transform: scale(1.8) ;}





section h1 {
  font-size: xx-large;
  text-align: center;
  justify-content: center;
  font-weight: 500;
  margin-top: 100px;

}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
  margin-top: -50px;
}

.highlight-container, .highlight {
  position: relative;
}

.highlight-container {
  display: inline-block;
}
.highlight-container:before {
  content: " ";
  display: block;
  height: 90%;
  width: 100%;
  margin-left: -3px;
  margin-right: -3px;
  position: absolute;
  background: #f97316;
  transform: rotate(2deg);
  top: -1px;
  left: -1px;
  border-radius: 20% 25% 20% 24%;
  padding: 10px 3px 3px 10px;
}

.grid-container2 {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
  align-content: center;
  justify-content: center;
}
.grid-container3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0px;
  margin-bottom: 100px;
}

.grid-container4 {
  margin-top: 0px;
  margin-bottom: 0px;
  align-content: center;
  justify-content: center;
}


.grid-container6 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 100px;
}

.valueAddedServices {
  display: grid;
  align-content: center;
  justify-content: center;
  margin-bottom: 100px;
}

ul1 {display: list-item; margin-left: 1em; list-style-type: disc;}
ul2 {display: list-item; margin-left: 1em; list-style-type: disc;}
ul3 {display: list-item; margin-left: 1em; list-style-type: disc;}
ul4 {display: list-item; margin-left: 1em; list-style-type: disc;}
ul5 {display: list-item; margin-left: 1em; list-style-type: disc;}
ul6 {display: list-item; margin-left: 1em; list-style-type: disc;}
ul7 {display: list-item; margin-left: 1em; list-style-type: disc;}
ul8 {display: list-item; margin-left: 1em; list-style-type: disc;}
ul9 {display: list-item; margin-left: 1em; list-style-type: disc;}
ul10 {display: list-item; margin-left: 1em; list-style-type: disc;}
ul11 {display: list-item; margin-left: 1em; list-style-type: disc;}
ul12 {display: list-item; margin-left: 1em; list-style-type: disc;}
ul13 {display: list-item; margin-left: 1em; list-style-type: disc;}
ul14 {display: list-item; margin-left: 1em; list-style-type: disc;}
ul15 {display: list-item; margin-left: 1em; list-style-type: disc;}
ul16 {display: list-item; margin-left: 1em; list-style-type: disc;}